<%= form_for(@podium) do |f| %>
  <% if @podium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@podium.errors.count, "error") %> prohibited this podium from being saved:</h2>

      <ul>
      <% @podium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :apt1 %><br>
    <%= f.text_field :apt1 %>
  </div>
  <div class="field">
    <%= f.label :apt2 %><br>
    <%= f.text_field :apt2 %>
  </div>
  <div class="field">
    <%= f.label :apt3 %><br>
    <%= f.text_field :apt3 %>
  </div>
  <div class="field">
    <%= f.label :apt4 %><br>
    <%= f.text_field :apt4 %>
  </div>
  <div class="field">
    <%= f.label :apt5 %><br>
    <%= f.text_field :apt5 %>
  </div>
  <div class="field">
    <%= f.label :apt6 %><br>
    <%= f.text_field :apt6 %>
  </div>
  <div class="field">
    <%= f.label :apt7 %><br>
    <%= f.text_field :apt7 %>
  </div>
  <div class="field">
    <%= f.label :apt8 %><br>
    <%= f.text_field :apt8 %>
  </div>
  <div class="field">
    <%= f.label :apt9 %><br>
    <%= f.text_field :apt9 %>
  </div>
  <div class="field">
    <%= f.label :apt10 %><br>
    <%= f.text_field :apt10 %>
  </div>
  <div class="field">
    <%= f.label :apt11 %><br>
    <%= f.text_field :apt11 %>
  </div>
  <div class="field">
    <%= f.label :apt12 %><br>
    <%= f.text_field :apt12 %>
  </div>
  <div class="field">
    <%= f.label :apt13 %><br>
    <%= f.text_field :apt13 %>
  </div>
  <div class="field">
    <%= f.label :apt14 %><br>
    <%= f.text_field :apt14 %>
  </div>
  <div class="field">
    <%= f.label :apt15 %><br>
    <%= f.text_field :apt15 %>
  </div>
  <div class="field">
    <%= f.label :apt16 %><br>
    <%= f.text_field :apt16 %>
  </div>
  <div class="field">
    <%= f.label :apt17 %><br>
    <%= f.text_field :apt17 %>
  </div>
  <div class="field">
    <%= f.label :apt18 %><br>
    <%= f.text_field :apt18 %>
  </div>
  <div class="field">
    <%= f.label :apt19 %><br>
    <%= f.text_field :apt19 %>
  </div>
  <div class="field">
    <%= f.label :apt20 %><br>
    <%= f.text_field :apt20 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
