<div class="table-responsive">
    <% @podia.each_with_index do |podium, i| %>                            
                                <table class="table table-striped table-bordered table-hover podtable">
 <% if i==0 then %>
 
  <thead>
    <tr>
      <th></th>
      <th>Layout</th>
      <th>Categories</th>
      <th>Apt1</th>
      <th>apt2</th>
      <th>Apt3</th>
      <th>Apt4</th>
      <th>Apt5</th>
      <th>Apt6</th>
      <th>Apt7</th>
      <th>Apt8</th>
      <th>Apt9</th>
      <th>Apt10</th>
      <th>Apt11</th>
      <th>Apt12</th>
      <th>Apt13</th>
      <th>Apt14</th>
      <th>Apt15</th>
      <th>Apt16</th>
      <th>Apt17</th>
      <th>Apt18</th>
      <th>Apt19</th>
      <th>Apt20</th>
    
    </tr>
  </thead>
  
  <% else %>

  
  <% end %>

  <tbody>
    
      <tr>
       <td rowspan="5"><%= link_to "<button>Delete Layout</button>".html_safe, podium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td rowspan="5"><% j=1  %><% areaa(i, j) %>Podium Layout <%= i+1 %> <br> <%= @num-3 %> plate</td>
        <td>Name</td>
        <td><%=best_in_place podium, :apt1, type: :select, :collection => @r %></td>
        <td><%=best_in_place podium, :apt2, type: :select, :collection => @r %></td>
        <td><%=best_in_place podium, :apt3, type: :select, :collection => @r %></td>
        <td><%=best_in_place podium, :apt4, type: :select, :collection => @r %></td>
        <td><%=best_in_place podium, :apt5, type: :select, :collection => @r %></td>
        <td><%=best_in_place podium, :apt6, type: :select, :collection => @r %></td>
        <td><%=best_in_place podium, :apt7, type: :select, :collection => @r %></td>
        <td><%=best_in_place podium, :apt8, type: :select, :collection => @r %></td>
        <td><%=best_in_place podium, :apt9, type: :select, :collection => @r %></td>
        <td><%=best_in_place podium, :apt10, type: :select, :collection => @r %></td>
        <td><%=best_in_place podium, :apt11, type: :select, :collection => @r %></td>
        <td><%=best_in_place podium, :apt12, type: :select, :collection => @r %></td>
        <td><%=best_in_place podium, :apt13, type: :select, :collection => @r %></td>
        <td><%=best_in_place podium, :apt14, type: :select, :collection => @r %></td>
        <td><%=best_in_place podium, :apt15, type: :select, :collection => @r %></td>
        <td><%=best_in_place podium, :apt16, type: :select, :collection => @r %></td>
        <td><%=best_in_place podium, :apt17, type: :select, :collection => @r %></td>
        <td><%=best_in_place podium, :apt18, type: :select, :collection => @r %></td>
        <td><%=best_in_place podium, :apt19, type: :select, :collection => @r %></td>
        <td><%=best_in_place podium, :apt20, type: :select, :collection => @r %></td>
       
        
      </tr>
      
      <tr>
          
        <td>Type</td>
         <% j=1  %>
             <% until j>20  %>
              <td><% areaa(i, j) %><%= @type %></td>
            <% j=j+1 %>
            <% end %>
        
      </tr>
      
      
      <tr>
          
            <td>Area</td>
             <% j=1  %>
             <% until j>20  %>
              <td><% areaa(i, j) %><%= @app %></td>
            <% j=j+1 %>
            <% end %>
      </tr>
      <tr>
          
        <td>Bed</td>
         <% j=1  %>
             <% until j>20  %>
              <td><% areaa(i, j) %><%= @bedrooms %></td>
            <% j=j+1 %>
            <% end %>
        
      </tr>
      <tr>
          
        <td>Carbays</td>
         <% j=1  %>
             <% until j>20  %>
              <td><% areaa(i, j) %><%= @carbays %></td>
            <% j=j+1 %>
            <% end %>
        
      </tr>
      
      
      </tbody>
</table>
    <% end %>
  
</div>