<p id="notice"><%= notice %></p>
<div class="panel panel-success">
<% types %>

              <div class="panel-heading">
                            PODIUM FLOORPLATES
                        </div>
                        <div class="panel-body">
                          
                          <%= render 'table' %>
                            
</div>
</div>

<br>
<button onclick="myFunction()">Update Table</button>
<%= link_to "<button>Create new Layout</button>".html_safe, new_podium_path %>
<%= link_to "<button>Delete all Layouts</button>".html_safe, del_all_path %>


<script>
function myFunction() {
    location.reload();
}
</script>