<p id="notice"><%= notice %></p>

<p>
  <strong>Apt1:</strong>
  <%= @podium.apt1 %>
</p>

<p>
  <strong>apt2:</strong>
  <%= @podium.apt2 %>
</p>

<p>
  <strong>Apt3:</strong>
  <%= @podium.apt3 %>
</p>

<p>
  <strong>Apt4:</strong>
  <%= @podium.apt4 %>
</p>

<p>
  <strong>Apt5:</strong>
  <%= @podium.apt5 %>
</p>

<p>
  <strong>Apt6:</strong>
  <%= @podium.apt6 %>
</p>

<p>
  <strong>Apt7:</strong>
  <%= @podium.apt7 %>
</p>

<p>
  <strong>Apt8:</strong>
  <%= @podium.apt8 %>
</p>

<p>
  <strong>Apt9:</strong>
  <%= @podium.apt9 %>
</p>

<p>
  <strong>Apt10:</strong>
  <%= @podium.apt10 %>
</p>

<p>
  <strong>Apt11:</strong>
  <%= @podium.apt11 %>
</p>

<p>
  <strong>Apt12:</strong>
  <%= @podium.apt12 %>
</p>

<p>
  <strong>Apt13:</strong>
  <%= @podium.apt13 %>
</p>

<p>
  <strong>Apt14:</strong>
  <%= @podium.apt14 %>
</p>

<p>
  <strong>Apt15:</strong>
  <%= @podium.apt15 %>
</p>

<p>
  <strong>Apt16:</strong>
  <%= @podium.apt16 %>
</p>

<p>
  <strong>Apt17:</strong>
  <%= @podium.apt17 %>
</p>

<p>
  <strong>Apt18:</strong>
  <%= @podium.apt18 %>
</p>

<p>
  <strong>Apt19:</strong>
  <%= @podium.apt19 %>
</p>

<p>
  <strong>Apt20:</strong>
  <%= @podium.apt20 %>
</p>

<%= link_to 'Edit', edit_podium_path(@podium) %> |
<%= link_to 'Back', podia_path %>
