<%= form_for(@gparameter) do |f| %>
  <% if @gparameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gparameter.errors.count, "error") %> prohibited this gparameter from being saved:</h2>

      <ul>
      <% @gparameter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <%= render "#{@gparameter.current_step}_step", :f => f %>
  <p><%= f.submit "Continue" %></p>
  <p><%= f.submit "Back", :name => "back_button" unless @gparameter.first_step? %></p>


<% end %>
