<div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
         <h4>Please Outline View Multiplier Categories</h4>
        </div>
        <div class="panel-body">

          <div class="field">
            <%= f.label :height_categories %><br>
            <%= f.number_field :height_categories %>
          </div>
          <div class="field">
            <%= f.label :wiev_aspects %><br>
            <%= f.number_field :wiev_aspects %>
          </div>
          </div>
         
      </div>
    </div>
  </div>