<div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>How Many Storeys in Building?</h4>
        </div>
        <div class="panel-body">



  <div class="field">
    <%= f.label :podium %><br>
    <%= f.number_field :podium %>
  </div>
  <div class="field">
    <%= f.label :tower %><br>
    <%= f.number_field :tower %>
  </div>
  <!--<div class="field">-->
  <!--  <%= f.label :total %><br>-->
  <!--  <%= f.number_field :total %>-->
  <!--</div>-->
  </div>
      </div>
    </div>
  </div>