<div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
           <h4>How Many Varieties of Each Unit Below?</h4>
        </div>
        <div class="panel-body">




  <div class="field">
    <%= f.label :studio %><br>
    <%= f.number_field :studio %>
  </div>
  <div class="field">
    <%= f.label :bed1 %><br>
    <%= f.number_field :bed1 %>
  </div>
  <div class="field">
    <%= f.label :bed2 %><br>
    <%= f.number_field :bed2 %>
  </div>
  <div class="field">
    <%= f.label :bed3 %><br>
    <%= f.number_field :bed3 %>
  </div>
  <div class="field">
    <%= f.label :bed4 %><br>
    <%= f.number_field :bed4 %>
  </div>
  <div class="field">
    <%= f.label :sub_ph %><br>
    <%= f.number_field :sub_ph %>
  </div>
  <div class="field">
    <%= f.label :ph %><br>
    <%= f.number_field :ph %>
  </div>
  <div class="field">
    <%= f.label :other %><br>
    <%= f.number_field :other %>
  </div>
  
  </div>
      </div>
    </div>
  </div>