<p id="notice"><%= notice %></p>

<h1>Listing Gparameters</h1>

<table>
  <thead>
    <tr>
      <th>Podium</th>
      <th>Tower</th>
      <th>Total</th>
      <th>Studio</th>
      <th>Bed1</th>
      <th>Bed2</th>
      <th>Bed3</th>
      <th>Bed4</th>
      <th>Sub ph</th>
      <th>Ph</th>
      <th>Other</th>
      <th>Height categories</th>
      <th>Wiev aspects</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gparameters.each do |gparameter| %>
      <tr>
        <td><%= gparameter.podium %></td>
        <td><%= gparameter.tower %></td>
        <td><%= gparameter.total %></td>
        <td><%= gparameter.studio %></td>
        <td><%= gparameter.bed1 %></td>
        <td><%= gparameter.bed2 %></td>
        <td><%= gparameter.bed3 %></td>
        <td><%= gparameter.bed4 %></td>
        <td><%= gparameter.sub_ph %></td>
        <td><%= gparameter.ph %></td>
        <td><%= gparameter.other %></td>
        <td><%= gparameter.height_categories %></td>
        <td><%= gparameter.wiev_aspects %></td>
        <td><%= link_to 'Show', gparameter %></td>
        <td><%= link_to 'Edit', edit_gparameter_path(gparameter) %></td>
        <td><%= link_to 'Destroy', gparameter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gparameter', new_gparameter_path %>
