<p id="notice"><%= notice %></p>

<p>
  <strong>Podium:</strong>
  <%= @gparameter.podium %>
</p>

<p>
  <strong>Tower:</strong>
  <%= @gparameter.tower %>
</p>

<p>
  <strong>Total:</strong>
  <%= @gparameter.total %>
</p>

<p>
  <strong>Studio:</strong>
  <%= @gparameter.studio %>
</p>

<p>
  <strong>Bed1:</strong>
  <%= @gparameter.bed1 %>
</p>

<p>
  <strong>Bed2:</strong>
  <%= @gparameter.bed2 %>
</p>

<p>
  <strong>Bed3:</strong>
  <%= @gparameter.bed3 %>
</p>

<p>
  <strong>Bed4:</strong>
  <%= @gparameter.bed4 %>
</p>

<p>
  <strong>Sub ph:</strong>
  <%= @gparameter.sub_ph %>
</p>

<p>
  <strong>Ph:</strong>
  <%= @gparameter.ph %>
</p>

<p>
  <strong>Other:</strong>
  <%= @gparameter.other %>
</p>

<p>
  <strong>Height categories:</strong>
  <%= @gparameter.height_categories %>
</p>

<p>
  <strong>Wiev aspects:</strong>
  <%= @gparameter.wiev_aspects %>
</p>

<%= link_to 'Edit', edit_gparameter_path(@gparameter) %> |
<%= link_to 'Back', gparameters_path %>
