<%= form_for(@salesmatrix) do |f| %>
  <% if @salesmatrix.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salesmatrix.errors.count, "error") %> prohibited this salesmatrix from being saved:</h2>

      <ul>
      <% @salesmatrix.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h4> Sales Matrix Builder </h4>
        </div>
        <div class="panel-body">

          <div class="field">
            <%= f.label :project_name %><br>
            <%= f.text_field :project_name %>
          </div>
          <div class="field">
            <%= f.label :pricing_version %><br>
            <%= f.text_field :pricing_version %>
          </div>
          <div class="field">
            <%= f.label :created_by %><br>
            <%= f.text_field :created_by %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>