<p id="notice"><%= notice %></p>

<h1>Listing Salesmatrices</h1>

<table>
  <thead>
    <tr>
      <th>Project name</th>
      <th>Pricing version</th>
      <th>Created by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salesmatrices.each do |salesmatrix| %>
      <tr>
        <td><%= salesmatrix.project_name %></td>
        <td><%= salesmatrix.pricing_version %></td>
        <td><%= salesmatrix.created_by %></td>
        <td><%= link_to 'Show', salesmatrix %></td>
        <td><%= link_to 'Edit', edit_salesmatrix_path(salesmatrix) %></td>
        <td><%= link_to 'Destroy', salesmatrix, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Salesmatrix', new_salesmatrix_path %>
