<p id="notice"><%= notice %></p>


<div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h4> Sales Matrix Builder </h4>
        </div>
        <div class="panel-body">

            <p>
              <strong>Project name:</strong>
                <%= best_in_place @salesmatrix, :project_name, :as => :input %>
            </p>
            
            <p>
              <strong>Pricing version:</strong>
              <%= @salesmatrix.pricing_version %>
            </p>
            
            <p>
              <strong>Created by:</strong>
              <%= @salesmatrix.created_by %>
            </p>
            
         <div class="row">
          <div class="col-md-12 col-sm-12">   
            <div class="col-md-4 col-sm-4"> 
            <%= link_to "<button>STEP 1 <br> Set Global <br> Parameters </button>".html_safe, controller: "gparameters", action: "new"  %>
             </div>
             <div class="col-md-4 col-sm-4">
           <%= link_to "<button>STEP 2 <br> Apartment Specs </button>".html_safe, controller: "apartments", action: "index"   %><br>
            <%= link_to "<button>Pricing Specs  </button>".html_safe, controller: "pricings", action: "index"    %> 
            </div>
            <div class="col-md-4 col-sm-4">
            <%= link_to "<button>STEP 3 <br> Podium Floorplates </button>".html_safe  %>
            <%= link_to "<button>Tower Floorplates </button>".html_safe  %>
            </div>
            </div>
            </div>
            <br>
            
            
            
            <%= link_to 'Edit', edit_salesmatrix_path(@salesmatrix) %> |
            

      </div>
    </div>
  </div>
</div>