<p id="notice"><%= notice %></p>

<p>
  <strong>Apt1:</strong>
  <%= @tower.apt1 %>
</p>

<p>
  <strong>Apt2:</strong>
  <%= @tower.apt2 %>
</p>

<p>
  <strong>Apt3:</strong>
  <%= @tower.apt3 %>
</p>

<p>
  <strong>Apt4:</strong>
  <%= @tower.apt4 %>
</p>

<p>
  <strong>Apt5:</strong>
  <%= @tower.apt5 %>
</p>

<p>
  <strong>Apt6:</strong>
  <%= @tower.apt6 %>
</p>

<p>
  <strong>Apt7:</strong>
  <%= @tower.apt7 %>
</p>

<p>
  <strong>Apt8:</strong>
  <%= @tower.apt8 %>
</p>

<p>
  <strong>Apt9:</strong>
  <%= @tower.apt9 %>
</p>

<p>
  <strong>Apt10:</strong>
  <%= @tower.apt10 %>
</p>

<p>
  <strong>Apt11:</strong>
  <%= @tower.apt11 %>
</p>

<p>
  <strong>Apt12:</strong>
  <%= @tower.apt12 %>
</p>

<p>
  <strong>Apt13:</strong>
  <%= @tower.apt13 %>
</p>

<p>
  <strong>Apt14:</strong>
  <%= @tower.apt14 %>
</p>

<p>
  <strong>Apt15:</strong>
  <%= @tower.apt15 %>
</p>

<p>
  <strong>Apt16:</strong>
  <%= @tower.apt16 %>
</p>

<p>
  <strong>Apt17:</strong>
  <%= @tower.apt17 %>
</p>

<p>
  <strong>Apt18:</strong>
  <%= @tower.apt18 %>
</p>

<p>
  <strong>Apt19:</strong>
  <%= @tower.apt19 %>
</p>

<p>
  <strong>Apt20:</strong>
  <%= @tower.apt20 %>
</p>

<%= link_to 'Edit', edit_tower_path(@tower) %> |
<%= link_to 'Back', towers_path %>
