<%= form_for(@pricing) do |f| %>
  <% if @pricing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pricing.errors.count, "error") %> prohibited this pricing from being saved:</h2>

      <ul>
      <% @pricing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :level_pr %><br>
    <%= f.number_field :level_pr %>
  </div>
  <div class="field">
    <%= f.label :carpark_pr %><br>
    <%= f.number_field :carpark_pr %>
  </div>
  <div class="field">
    <%= f.label :height_pr %><br>
    <%= f.number_field :height_pr %>
  </div>
  <div class="field">
    <%= f.label :aspect_pr %><br>
    <%= f.number_field :aspect_pr %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
