<p id="notice"><%= notice %></p>

     
        



<div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h4> PRICING SPECS </h4>
        </div>
        <div class="panel-body">
          
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="col-md-2 col-sm-2">
      <div class="panel panel-primary">
        <div class="panel-heading">
             PROJECT
           <h4><%= if Salesmatrix.first.present? then
           Salesmatrix.first.project_name  
           end %>.</h4> 
        </div>
        
        </div>
        
        
        
 </div>



      <div class="col-md-2 col-sm-2">
      <div class="panel panel-primary">
        <div class="panel-heading">
             PRICING SCHEDULE 
            <h4><%= if Salesmatrix.first.present? then
            Salesmatrix.first.pricing_version 
            end %>.</h4> 
        </div>
        
        </div>
        
        
        
 </div>
       
        
        
        
        

      <div class="col-md-2 col-sm-2">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h6> TOTAL REVENUE </h6>
        </div>
        
        </div>
        
        
        
 </div>
         
        
        
        
        

      <div class="col-md-3 col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h6> AVERAGE PRICE (INC PH) </h6>
        </div>
        
        </div>
        
        
        
 </div>
        
        
        
        
        
  
      <div class="col-md-3 col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h6> AVERAGE PRICE SQM (INC PH) </h6>
        </div>
        
        </div>

</div>         
 </div>
</div>   
          
          
          
<div class="col-md-3 col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h5> LEVEL PREMIUMS </h5>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
                                
                                <table class="table table-striped table-bordered table-hover">

  <thead>
    <tr>
      <th>TYPE</th>
      <th>
        <%  @s= [[0,"PRICE ($)"],[1,"PERCENTAGE (%)"]] %>
        
        <%=best_in_place @pricings.first, :level_pr_type, :class => "pricper", type: :select, :collection => @s %>
       
      
      </th>
      
      
    </tr>
  </thead>

  <tbody>
   
      <tr>
        
        
        <% if @pricin.present? then %>
        <% if @pricin.level_pr_type==0 then %>
        <td>PRICE ($)</td>
        <td><%= number_to_currency_br(best_in_place @pricin, :level_pr, :as => :input) %></td>
        <% else %>
         <td>PERCENTAGE (%)</td>
        <td><%= number_to_percentage(best_in_place @pricin, :level_pr, :as => :input) %></td>
        <% end %>
        <% else %>
        <td></td>
        <% end %>
        
      </tr>
    
  </tbody>
</table>
</div>
</div>
</div>
</div>

<div class="col-md-3 col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h5> CARPARK PREMIUMS </h5>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
                                
                                <table class="table table-striped table-bordered table-hover">

  <thead>
    <tr>
      <th>TYPE</th>
   
      <th><%=best_in_place @pricin, :carpark_pr_type, :class => "pricper", type: :select, :collection => @s %></th>
      
      
    </tr>
  </thead>

  <tbody>
   
      <tr>
       
         <% if @pricin.present? then %>
         <% if @pricin.carpark_pr_type==0 then %>
        <td>PRICE ($)</td>
        <td><%= number_to_currency_br(best_in_place @pricin, :carpark_pr, :as => :input) %></td>
        <% else %>
         <td>PERCENTAGE (%)</td>
        <td><%= number_to_percentage(best_in_place @pricin, :carpark_pr, :as => :input) %></td>
        <% end %>
       
        
        <% else %>
        <td></td>
        <% end %>
        
      </tr>
    
  </tbody>
</table>
</div>
</div>
</div>
</div>


<div class="col-md-3 col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h5> HEIGHT PREMIUMS </h5>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
                                
                                <table class="table table-striped table-bordered table-hover">

  <thead>
    <tr>
      <th>TYPE</th>
      <th><%=best_in_place @pricin, :height_pr_type, :class => "pricper", type: :select, :collection => @s %></th>
      
      
    </tr>
  </thead>

  <tbody>
    <% @pricings.each_with_index do |pricing, index| %>
      <tr>
         <% unless pricing.height_pr.nil? %>
        <td>Height <%= index +1%> </td>
        <% if @pricin.height_pr_type==0 then %>
        <td> <%= number_to_currency_br(best_in_place pricing, :height_pr, :as => :input) %></td>
        <% else %>
         
        <td><%= number_to_percentage(best_in_place @pricin, :height_pr, :as => :input) %></td>
        <% end %>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
  
  
</table>
</div>
</div>
</div>
</div>


<div class="col-md-3 col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
            <h5> ASPECT PREMIUMS </h5>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
                                
                                <table class="table table-striped table-bordered table-hover">

  <thead>
    <tr>
      <th>TYPE</th>
      <th><%=best_in_place @pricin, :aspect_pr_type, :class => "pricper", type: :select, :collection => @s %></th>
      
      
    </tr>
  </thead>

  <tbody>
    <% @pricings.each_with_index do |pricing, index| %>
      <tr>
        <% unless pricing.aspect_pr.nil? %>
        <td>Aspect <%= index +1%> </td>
        <% if @pricin.aspect_pr_type==0 then %>
        <td> <%= number_to_currency_br(best_in_place pricing, :aspect_pr, :as => :input) %></td>
        <% else %>
         
        <td><%= number_to_percentage(best_in_place @pricin, :aspect_pr, :as => :input) %></td>
        <% end %>
      
      <%  end %>
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
</div>





</div>
<br>
</div>
</div>
</div>
</div>

<script>
  $(document).ready(function () {
  
    $('.pricper').change(function () {
        location.reload();
    })
  
});
  
</script>
