<p id="notice"><%= notice %></p>

<p>
  <strong>Level pr:</strong>
  <%= @pricing.level_pr %>
</p>

<p>
  <strong>Carpark pr:</strong>
  <%= @pricing.carpark_pr %>
</p>

<p>
  <strong>Height pr:</strong>
  <%= @pricing.height_pr %>
</p>

<p>
  <strong>Aspect pr:</strong>
  <%= @pricing.aspect_pr %>
</p>

<%= link_to 'Edit', edit_pricing_path(@pricing) %> |
<%= link_to 'Back', pricings_path %>
