// Place all the styles related to the Podia controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.podtable {
   table-layout: fixed;
  width: 100%;
  
    
    
}

.podtable td {
    width: 100px;
    
  overflow: hidden;
  text-overflow: ellipsis;
}

.podtable th {
    width: 100px;
   
  overflow: hidden;
  text-overflow: ellipsis;
}

.purr {
  position: fixed;
  top: 40px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}