
<p id="notice"><%= notice %></p>
 <% set_prices %>

<div class="panel panel-success">

              <div class="panel-heading">
                            APARTMENT SPECS
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                
                                <table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Apartmentid</th>
      <th>Apartment type</th>
      <th>Name</th>
      <th>Internal area</th>
      <th>Balcony area</th>
      <th>Total area</th>
      <th>Bedrooms</th>
      <th>Bathrooms</th>
      <th>Study</th>
      <th>Carbays</th>
      <th>Base price</th>
      <th>Colour</th>
      
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.apartmentID %></td>
   
        <td><%= apartment.apartment_type %></td>
        <td><%= best_in_place apartment, :name, :as => :input %></td>
        <td><%= best_in_place apartment, :internal_area, :as => :input %></td>
        <td><%= best_in_place apartment, :balcony_area, :as => :input %></td>
        <td><%= apartment.total_area %></td>
        <td><%= best_in_place apartment, :bedrooms, :as => :input %></td>
        <td><%= best_in_place apartment, :bathrooms, :as => :input %></td>
        <td><%= best_in_place apartment, :study, :as => :input %></td>
        <td><%= best_in_place apartment, :carbays, :as => :input %></td>
        <td><%= best_in_place apartment, :base_price, :as => :input %></td>
        <td><%= best_in_place apartment, :colour, :as => :input %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>
<button onclick="myFunction()">Update Caclculated fields</button>

</div>
<script>
function myFunction() {
    location.reload();
}
</script>