<p id="notice"><%= notice %></p>

<p>
  <strong>Apartmentid:</strong>
  <%= @apartment.apartmentID %>
</p>

<p>
  <strong>Apartment type:</strong>
  <%= @apartment.apartment_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @apartment.name %>
</p>

<p>
  <strong>Internal area:</strong>
  <%= @apartment.internal_area %>
</p>

<p>
  <strong>Balcony area:</strong>
  <%= @apartment.balcony_area %>
</p>

<p>
  <strong>Total area:</strong>
  <%= @apartment.total_area %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @apartment.bedrooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @apartment.bathrooms %>
</p>

<p>
  <strong>Study:</strong>
  <%= @apartment.study %>
</p>

<p>
  <strong>Carbays:</strong>
  <%= @apartment.carbays %>
</p>

<p>
  <strong>Base price:</strong>
  <%= @apartment.base_price %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @apartment.colour %>
</p>

<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>
